{% extends "base.html" %}
{% block body %}
<p>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarCliente">
		Agregar nuevo Cliente
	</button>
	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#agregarGlosa">
		Agregar nueva Glosa
	</button>
  <a href={%url "excel" "m" ahora %} class="btn btn-success" id="exportExcel">
    Exportar a Excel
    <span class="glyphicon glyphicon-share"></span>
  </a>
  <a href={%url "cartas" "all" %} target="_blank" class="btn btn-danger" id="exportPDF">
    Imprimir Cartas
    <span class="glyphicon glyphicon-share"></span>
  </a>
</p>

   <div class="checkbox col-md-12">
    <label>
      <input type="checkbox" id="activo"  checked="checked"> Incluir no Activos
    </label>
  </div>
<div class="col-md-6">
	<select class="form-control" id="filter">
		<option value="all">--</option>
		<option value="natural">Persona Natural</option>
		{% for duenio in duenios %}
			{% if forloop.first %}
				<option value="no">Sociedades sin Dueño Seteado</option>
			{% else %}
				<option value="{{duenio.0}}">{{duenio.0|safe}}</option>
			{% endif %}
		{% endfor %}
	</select>
</div>
<div class="col-md-3">
  <select class="form-control col-md-6" id="interval">
    <option value="mensual">Mensual:</option>
    <option value="anual">Anual:</option>
  </select>
</div>
<div class="col-md-3" id="dateContainer">
  <select class="form-control col-md-6" id="date">
    {% for date in dates %}
      <option value="{{date}}">{{date}}</option>
    {% endfor %}
  </select>
</div>
<div class="col-md-3" id="yearContainer">
  <select class="form-control col-md-6" id="year">
    {% for year in years %}
      <option value="{{year}}">{{year}}</option>
    {% endfor %}
  </select>
</div>

<div class="data-table">
{% include 'table.html' %}
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id="agregarCliente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Agregar Nuevo Cliente</h4>
      </div>
      <form action="{% url 'add-cliente'%}"  method="POST">
      		{% csrf_token %}
	      <div class="modal-body">
	        {{formCliente.as_p}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="agregarGlosa">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Editar Glosa</h4>
      </div>
      <form action="{% url 'add-glosa'%}"  method="POST">
      		{% csrf_token %}
	      <div class="modal-body">
          <select id="selectGlosa" name="selectGlosa" class="form-control">
           <option value="new">Agregar Nueva Glosa </option>
           {% for glosa in listGlosa %}
            <option value="{{glosa.pk}}">{{glosa.nombre}}</option>
           {% endfor %}
          </select>
          <div class="whereFormGoesGlosa">
	         {{formGlosa.as_p}}
          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="agregarCobro">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Cobro</h4>
      </div>
      <form action="{% url 'add-cobro'%}"  method="POST">
      		{% csrf_token %}
      		<input type="hidden" name="cliente_pk" class="cliente_pk" value=""/>
	      <div class="modal-body">
	      {{ form.errors }}
			{{ form.non_field_errors }}
	        {{formCobro.as_p}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="agregarAbono">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Abono</h4>
      </div>
      <form action="{% url 'add-abono'%}"  method="POST">
      		{% csrf_token %}
      		<input type="hidden" name="cliente_pk" class="cliente_pk" value=""/>
	      <div class="modal-body">
	        {{formAbono.as_p}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="editCliente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Editar Cliente</h4>
      </div>
      <form action="{% url 'edit-cliente'%}"  method="POST">
      		{% csrf_token %}
      		<input type="hidden" name="cliente_pk" class="cliente_pk" value=""/>
	      <div class="modal-body">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Guardar</button>
	      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}