.container{
	margin-top: 60px;
}

.datepicker.dropdown-menu{
	z-index: 1050;
}

#yearContainer{
	display: none;
}

#exportPDF{
	float: left;
}

.loading{
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 10%;
	background: rgba(250,250,250,0.5);
	opacity: 0;
	transition: 0.4s opacity 0.5s right bottom;
	z-index: 0;
}

.loading img{
	width: 0;
	height: 0;
}

.appear{
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: 100000000000;
}

.loading.appear img{
	width: auto;
	height: auto;
}